
@{
    ViewBag.Title = "Miembros";
}

<h2>Miembros</h2>


<div class=" jumbotron"  >

    <h2> Integrantes</h2>
    <br />

    <h3>Nombres de los Integrantes:</h3>
    <p>Roman Ariel Alcantara Roa</p>
    <br />
    <img src="~/img/Ro.jpg" class="img-circle" height=" 250" width="250" />
    <br />
    <br />
    <p>Samuel Encarnacion Rosario</p>
    <br />
    <img src="~/img/Sa.jfif" class="img-circle" height=" 250" width="250" />

    <h3>Matriculas</h3>
    <p>2017-5435 - Roman</p>
    <p>2017-5369 - Samuel</p>

    <h3>Partes de Colaboracion</h3>
    <footer>
        <p>Autenticacion y login con facebook - Samuel</p>
        <p>Consulta de asignaturas - Roman</p>
        <p>Agenda Electronica - Roman</p>
        <p>Lector de Archivos Excel - Samuel</p>
        <p>Acerca de - Roman</p>
    </footer>


</div>
